[submodule "arduino-libs/MFRC522-RFID-sensor"]
	path = arduino-libs/MFRC522-RFID-sensor
	url = https://github.com/phariel/rfid.git
[submodule "arduino-libs/MPU6050-IMU-sensor"]
	path = arduino-libs/MPU6050-IMU-sensor
	url = https://github.com/phariel/MPU6050-Arduino.git
[submodule "arduino-libs/FS1000A-VirtualWire-sensor"]
	path = arduino-libs/FS1000A-VirtualWire-sensor
	url = https://github.com/phariel/FS1000A-Arduino.git
